user_uuid = "0e04171d-7261-48a1-b235-493da9962bcc"
bucket_name = "x5v2enzqfeclfged84wk8ovk8f53yyxo"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path = "/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version = 1
