terratowns_endpoint = "https://terratowns.cloud/api"
the_witcher = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/the-witcher"
    content_version = 1
}
assassins_creed = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/assassins-creed"
    content_version = 1
}
venezuela = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/venezuela"
    content_version = 1
}